@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,300&family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.first {
    background-image: url("../assets/wood-darker.png");
    height: 650px;
}

.first .restaurant {
    float: right;
    position: relative;
    
}

.first h1{
    color: white;
    font-family: 'JetBrains Mono', monospace;
    margin-right: 0;
    position: relative;
    top: 320px;
    left: 149px;

}

.first p{
    font-family: 'JetBrains Mono', monospace;
    color: rgb(207, 207, 207);
    position: relative;
    top: 300px;
    left: 150px;
}

header {
    background: rgb(255, 255, 255);
    height: 55px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 90%;
    margin: 0 auto;
    
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: rgb(32, 32, 32);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color:rgb(167, 0, 0)
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: rgb(167, 0, 0) ;
    position: absolute;
    top: 0;
    transition: all ease-in-out 100ms;
}

nav a:hover::before {
    width: 100%;
}

.btn-1 {
    margin-left: 70px;
    width: 150px;
    height: 30px;
    border: none;
    color: rgb(252, 252, 252);
    background-color: rgb(167, 0, 0);
    border-radius: 15px;
    transition: ease-out 30ms;
    font-size: 16px;
    outline: none;
    border: 3px solid rgb(0, 0, 0);
    position: relative;
    z-index: 1;
}

.btn-1:hover {
    cursor: pointer;
    color:crimson;
}

.btn-1::before {
    transition: all ease 0.5s;
    position: absolute;
    top: -1px;
    left: 50%;
    right: 50%;
    bottom: -1px;
    opacity: 0;
    content: '';
    background-color: white;

}

.btn-1:hover::before {
    border-radius: 15px;
    transition: 0.5s all ease;
    left: -1px;
    right: -1px;
    opacity: 1;
    z-index: -1;
}

.fa-user {
    position: relative;
    
}


.user-dropdown {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    list-style-type: none;
    border: 2px solid crimson;
    border-radius: 5px;
    box-shadow: 0 5px 10px -5px #444;
    width: 100px;
    position: absolute;
    top: 40px;
    left: -60px;
    right: 0px;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    background: white;
    transition: .1s .1s;
}

.fa-user:hover .user-dropdown {
    visibility: visible;
    opacity: 1;
}
.user-dropdown:before, .user-dropdown:after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-top: 0;
    left: 55px;   
}

.user-dropdown:before {
    top: -8px;
    border-bottom-color: white;
}

.user-dropdown:after {
    top: -10px;
    border-bottom-color: crimson;
    z-index: -1;
}

.user-dropdown li {
    padding: 10px;
    color: rgb(32, 32, 32);
    border-bottom: 1px solid #e4e4e4;
    font-size: 12px; 
    margin: 0 auto;
}

.user-dropdown li a {
    
    font-size: 12px !important; 
    
}

.user-dropdown li a::before {
    content: none; 
    
}

.user-dropdown li:last-child {
    border-bottom: 0;
}

.second {
    display: flex;
    background: #ffffff;
    height: 600px;
}

.second .logo-middle {
    position: relative;
    top: 50px;
    left: 400px;
}

.second .slider {
    
    position: relative;
    left : 600px;
    top: 100px;
    width: 32%;
    height: 60%;
    border: 5px solid black;
    overflow: hidden;
}

.second .slider .slide{
    display: flex;
    width: 100%;
    height: 500px;
}

#btn-prv {
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 100;
    width: 20px;
    cursor: pointer;
}

#btn-next {
    position: absolute;
    top: 50%;
    right: 5%;
    z-index: 100;
    width: 20px;
    cursor: pointer;
}
footer {
    background-color: black;
    color: white;
    height: 250px;
    position: relative;
    bottom: 0;
    clear: both;
}

footer a {
    text-decoration: none;
    color: white;
}

footer .content{
    width: 90%;
    margin: 0 auto;
    display: table;
}

footer .row {
    display: flex;
    flex-wrap: wrap;
}

footer .column {
    width: 25%;

}

footer h4 {
    color: crimson;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer ul li{
    margin-top: 7px;

}
/*
footer #special li  {
    display: inline-block;
    position: relative;
    float: left;
    overflow: hidden;
}*/



footer .special-row {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -5px;
}

footer .special-row #special-2 {
    margin-left: 5px;
    width: 80%;
}

footer .special-link {
    position: relative;
    top: 20px;
    display: flex;
    flex-wrap: wrap;
}

footer .special-link .whatsapp{
    width: 25%;
}

footer .special-link .whatsapp button{
    display: flex;
    padding: 5px;
    background-color: rgb(0, 160, 0);
    font-family: 'Roboto', sans-serif;
    color: white;
    vertical-align: middle;
    align-items: center;
    width: 270px;
    border-radius: 10px;
    outline: none;
    border: 3px solid rgb(0, 0, 0);
}

footer .special-link .whatsapp p{
    position: relative;
    font-size: 14px;
    font-weight: 800;
    left: 10px;
}

footer .special-link .orderla{
    position: relative;
    top: 10px;
    width: 25%;
}