@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,300&family=Roboto:wght@300&display=swap');

        
        .font{
            font-family: 'Roboto', sans-serif;
        }
        
        input[type="text"]:focus:valid
            {background: #d2f587;}

        input[type="text"]:focus:invalid
            {background: #f5bfd1;}

        input[type="tel"]:focus:valid
            {background: #d2f587;}

        input[type="tel"]:focus:invalid
            {background: #f5bfd1;}

        input[type="email"]:focus:valid
            {background: #d2f587;}

        input[type="email"]:focus:invalid
            {background: #f5bfd1;}
        
        input[type="date"]:focus:valid
            {background: #d2f587;}

        input[type="date"]:focus:invalid
            {background: #f5bfd1;}


        .blur-box {
            width: fit-content;
            height: auto;
            padding: 50px;
            box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
            border-radius: 5px;
            position: relative;
            z-index: 1;
            background: inherit;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px;

        }
        
        .blur-box:before {
            content: "";
            position: absolute;
            background: inherit;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
            filter: blur(10px);
            margin: -20px;
        }
        .bgcolor{
            backdrop-filter: blur(7px);
            background:#efe6d5;
            height: 100%;
            position: absolute;
            width: 100%;
        }

        .TableCenter{
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
        }

        .FTextbox{
            box-sizing: border-box;
            width: 100%;
        }

        th.auto {
            column-span: all;
            text-align: left;
            
        }
        select {
            border: 1;
            width: 100%;
        }

        .BTNstyle {
            width: 90;
            height: 42;
        }